<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Olá <%=@name%>, obrigado por se cadastrar!</h2>
  <p>Clique no botão abaixo para confirmar seu e-mail</p>
  <a href="http://localhost:5173/confirm_email?token=<%=@token%>">botaoaoa</a>
</body>
</html>